.main {
	display: flex;
	gap: 10px;
	padding: 10px;
	background-color: var(--gray-500);
	border-radius: 8px;
	border: 1px solid var(--gray-350);
}

.delete {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
